/* common shared styles*/
body { 
    font-family: 'Lato';
    font-family: 'Open Sans';
}
.color-primary {
    color: #fd6e0a;
}
.button-primary {
    border-radius: 3px;
    background: #fd6e0a;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
#blue{
    background-color: rgb(5, 192, 192);
}
#blue1{
    background-color: rgb(5, 192, 192) ;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-discription{
    color: rgb(121, 122, 122);
    text-align: center;
    font-size: 18px;
}
/* nav related styles */
nav {  
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: rgb(126, 126, 128);
}
.header{
    background: #f5f5f4f5;
    background-image: url('../images/back.jpg');
    background-repeat: no-repeat;
    background-position: bottom right;
 
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .main-pic{
    width: 600px;
}
.banner-welcome{
    font-size: 45PX;
    margin-bottom: 5px;
}
.banner-heading{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.about{
    padding: 130px;
    border-radius: 10px;
    background: #f5f5f4f5;
    margin: 130px 0;
}
main{
    max-width: 1140px;
    margin: auto;
}
main section {
    margin-top: 130px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#i-do{
    padding: 30px 150px;
    text-align: center
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skills{
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.1);
}
.skills-description{
    color: rgb(148, 146, 146);
}
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item-title{
    font-size: 22px;
}
.resume-item-institute, .resume-item-experince{
    color: #6e6e6e;
    font-size: 17px;
}